{% extends 'base.html' %}

{% block title %}{{ block.super }} - Profile{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
  <h2 class="text-3xl font-semibold mb-4">Profile</h2>
  <p>Welcome, {{ user.username }}!</p>

  <div class="mt-8">
    <a href="{% url 'logout' %}" class="text-cyan-300 hover:underline">Logout</a>
    <a href="{% url 'takequiz' %}" class="ml-4 text-cyan-300 hover:underline">Take A Quiz</a>
  </div>

  <div class="mt-8">
    <h3 class="text-2xl font-semibold mb-4">Quiz Attempt History</h3>
    <ul class="space-y-4">
        {% for attempt in quiz_history %}
          <li class="bg-gray-500 text-white p-4 rounded-lg">
            <strong>{{ attempt.quiz.title }}</strong>
            <p class="text-gray-200">Completion Time: {{ attempt.completion_time }} seconds</p>
            {% if attempt.score %}
              <p class="text-yellow-300">Score: {{ attempt.score }} out of {{ attempt.quiz.total_marks }}</p>
            {% else %}
              <p class="text-red-300">Score: Not yet scored</p>
            {% endif %}
          </li>
        {% empty %}
          <li class="text-gray-400">No quiz attempts yet.</li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
